<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sourong.consultant.dao.ConsultantVOMapper" >
  <resultMap id="BaseResultMap" type="com.sourong.consultant.domain.ConsultantVO" >
    <id column="consultantid" property="consultantid" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="userphone" property="userphone" jdbcType="VARCHAR" />
    <result column="productid" property="productid" jdbcType="INTEGER" />
    <result column="isreply" property="isreply" jdbcType="INTEGER" />
    <result column="replyresult" property="replyresult" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="changetime" property="changetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    consultantid, userid, username, userphone, productid, isreply, replyresult, createtime, 
    changetime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sourong.consultant.domain.ConsultantVOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from s_consultant
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from s_consultant
    where consultantid = #{consultantid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from s_consultant
    where consultantid = #{consultantid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sourong.consultant.domain.ConsultantVOExample" >
    delete from s_consultant
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sourong.consultant.domain.ConsultantVO" useGeneratedKeys="true" keyProperty="id" >
    insert into s_consultant (consultantid, userid, username, 
      userphone, productid, isreply, 
      replyresult, createtime, changetime
      )
    values (#{consultantid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, 
      #{userphone,jdbcType=VARCHAR}, #{productid,jdbcType=INTEGER}, #{isreply,jdbcType=INTEGER}, 
      #{replyresult,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{changetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sourong.consultant.domain.ConsultantVO" useGeneratedKeys="true" keyProperty="id" >
    insert into s_consultant
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="consultantid != null" >
        consultantid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="userphone != null" >
        userphone,
      </if>
      <if test="productid != null" >
        productid,
      </if>
      <if test="isreply != null" >
        isreply,
      </if>
      <if test="replyresult != null" >
        replyresult,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="changetime != null" >
        changetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="consultantid != null" >
        #{consultantid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userphone != null" >
        #{userphone,jdbcType=VARCHAR},
      </if>
      <if test="productid != null" >
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="isreply != null" >
        #{isreply,jdbcType=INTEGER},
      </if>
      <if test="replyresult != null" >
        #{replyresult,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="changetime != null" >
        #{changetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sourong.consultant.domain.ConsultantVOExample" resultType="java.lang.Integer" >
    select count(*) from s_consultant
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update s_consultant
    <set >
      <if test="record.consultantid != null" >
        consultantid = #{record.consultantid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.username != null" >
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.userphone != null" >
        userphone = #{record.userphone,jdbcType=VARCHAR},
      </if>
      <if test="record.productid != null" >
        productid = #{record.productid,jdbcType=INTEGER},
      </if>
      <if test="record.isreply != null" >
        isreply = #{record.isreply,jdbcType=INTEGER},
      </if>
      <if test="record.replyresult != null" >
        replyresult = #{record.replyresult,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.changetime != null" >
        changetime = #{record.changetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update s_consultant
    set consultantid = #{record.consultantid,jdbcType=INTEGER},
      userid = #{record.userid,jdbcType=INTEGER},
      username = #{record.username,jdbcType=VARCHAR},
      userphone = #{record.userphone,jdbcType=VARCHAR},
      productid = #{record.productid,jdbcType=INTEGER},
      isreply = #{record.isreply,jdbcType=INTEGER},
      replyresult = #{record.replyresult,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      changetime = #{record.changetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sourong.consultant.domain.ConsultantVO" >
    update s_consultant
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userphone != null" >
        userphone = #{userphone,jdbcType=VARCHAR},
      </if>
      <if test="productid != null" >
        productid = #{productid,jdbcType=INTEGER},
      </if>
      <if test="isreply != null" >
        isreply = #{isreply,jdbcType=INTEGER},
      </if>
      <if test="replyresult != null" >
        replyresult = #{replyresult,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="changetime != null" >
        changetime = #{changetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where consultantid = #{consultantid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sourong.consultant.domain.ConsultantVO" >
    update s_consultant
    set userid = #{userid,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      userphone = #{userphone,jdbcType=VARCHAR},
      productid = #{productid,jdbcType=INTEGER},
      isreply = #{isreply,jdbcType=INTEGER},
      replyresult = #{replyresult,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      changetime = #{changetime,jdbcType=TIMESTAMP}
    where consultantid = #{consultantid,jdbcType=INTEGER}
  </update>
</mapper>